extends layout

block content
    h1 Playlist Created
    h2(class='playlist-details') Playlist Details:
    ul
        li Name: #{playlist.name}
        li Description: #{playlist.description}
        li Public: #{playlist.public ? 'Yes' : 'No'}
        li ID: #{playlist.id}

    h2(class='playlist-details') Your Top Artists:
    table(class='topArtists')
        each a in artist 
            tr 
                - var name =  a.name
                td #{a.name}

