extends layout

block content
    h1 Playlist Created
    h2 Playlist Details:
    ul
        li Name: #{playlist.name}
        li Description: #{playlist.description}
        li Public: #{playlist.public ? 'Yes' : 'No'}
        li ID: #{playlist.id}

    h3 Your Top Artist:
    table
        each a in artist 
            tr 
                - var name =  a.name
                td #{a.name}

